<link rel="stylesheet" href="/css/header.css">
<h1>Header</h1>
<ul>
    <%if(locals.user){%>
        <li><%=user.name%></li>
        <a href="/user/sign-out"><button type="submit">Sign Out</button></a>
    <%}else{%>
        <a href="/user/sign-in"><button type="submit">Sign In</button></a>
    <%}%>
</ul>