<link rel="stylesheet" type="text/css" href="/css/profile.css">
<h1> Welcome <%=locals.user.name%> :{<%=locals.user.email%> }This is your profile page</h1>
<a href="/user/sign-out"><button type="submit">SignOut</button></a>