<link rel="stylesheet" type="text/css" href="/css/user_sign_in.css">
<h1>Sign In</h1>
<form action="/user/authenticate" method="post">
    <label>Email :</label>
    <input type="email" placeholder="Email" name="email" required="true">
    <label>Password :</label>
    <input type="password" placeholder="Password" name="password" required="true">
    <button type="submit">Submit</button>
</form>