<link rel="stylesheet" type="text/css" href="/css/user_sign_up.css">
<h1>Sign Up</h1>
<form action="/user/add" method="post">
    <label>Name :</label>
    <input type="text" placeholder="Name" name="name" required="true">
    <label>Email :</label>
    <input type="email" placeholder="Email" name="email" required="true">
    <label>Password :</label>
    <input type="password" placeholder="Password" name="password" required="true">
    <label>Confirm Password :</label>
    <input type="password" placeholder="Confirm Password" name="confirm_password" required="true">
    <button type="submit">Submit</button>
</form>